body {
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
}
/*tr td {*/
/*    border: 1px solid black;*/
/*    padding: 5px;*/
/*}*/
/*table {*/
/*    border-collapse: collapse;*/
/*}*/
.cols {
    width: 50%;
}
.container {
    width: 70%;
    margin: auto;
    padding: 30px 10px;
}

.like-form {
    display: inline-block;
    padding-bottom: 20px;
}
.add {
    text-decoration: none;
    color: #000EEE;
    font-size: 1.2em;
    background-color: #ebf3ff;
}

#like {
    width: 60px;
    background-color: #baffc4;
}
#dislike {
    width: 60px;
    background-color: #ff99a3;
}
.answer_message {
    margin-left: 20px;
}

ul > li {
    list-style-type: none;
}
ol, ul {
    margin: 10px 0;
    padding: 0 20px;
}
.delete {
    text-decoration: none;
    color: brown;
}
.tag {
    text-decoration: none;
    font-size: 1.1em;
    color: darkgreen;
}
.delete-tag {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: brown;
}
.edit {
    text-decoration: none;
    color: darkblue;
}
img {
    width: 200px;
}