body {
    margin: 0;
    padding: 0;
    background-image: url('../images/background2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-color: #002b4d;
}
table {
    width: 100%;
}
/*tr td {*/
/*    border: 1px solid black;*/
/*    padding: 5px;*/
/*}*/
/*table {*/
/*    border-collapse: collapse;*/
/*}*/
.cols {
    width: 50%;
    vertical-align: top;
}
div.container {
    width: 65%;
    margin: auto;
    padding: 30px 20px;
    background-image: none;
    background-color: white;
}
nav {
    margin-bottom: 20px;
}
ul#nav {
    padding: 0;
    margin: 0;
}
#nav li {
    display: inline;
    padding: 0 5px 0 5px;
    font-size: 1.2em;
}
#nav li a {
    text-decoration: none;
}
.nav-right {
    float: right;
    padding: 0 5px 0 5px;
}
.error {
    color: red;
}
td {
    padding: 5px;
}
.like-form {
    display: inline-block;
    padding-bottom: 20px;
}
a {
    color: #000EEE;
}
a:hover {
    background-color: #ebf3ff;
}
.add {
    text-decoration: none;
    font-size: 1.2em;
    background-color: #ebf3ff;
}
.button {
    width: 60px;
    background-color: #b0efff;
}
.all-buttons {
    border-width: 1px;
    border-radius: 5px;
}
#like {
    width: 60px;
    background-color: #a8ffb5;
}
#dislike {
    width: 60px;
    background-color: #ff99a3;
}
.answer_message {
    margin-left: 20px;
}

ul > li {
    list-style-type: none;
}
ol, ul {
    margin: 10px 0;
    padding: 0 20px;
}
.delete {
    text-decoration: none;
    color: brown;
}
.tag {
    text-decoration: none;
    font-size: 1.1em;
    color: darkgreen;
}
.delete-tag {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: brown;
}
.edit {
    text-decoration: none;
    color: darkblue;
}
img{
    width: 200px;
}

#users-table {
    border-collapse: collapse;
    width: 100%;
}

#users-table td, #users-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users-table tr:nth-child(even){background-color: #f2f2f2;}

#users-table tr:hover {background-color: #ddd;}

#users-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #002b4d;
    color: white;
}