<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask a Question</title>
    <style>
        textarea, input{
            display: block;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<form action="/add-question" method="POST">
    <label for="title">Title</label>
    <textarea id="title" name="title" rows="1" cols="100"></textarea>

    <label for="message">Message</label>
    <textarea id="message" name="message" rows="10" cols="100"></textarea>
    <input type="submit" value="Save">
</form>
</body>
</html>