<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Edit answer</title>
</head>
<body>
    <div class="container">
         <nav>
        <ul id="nav">
        <li><a href="/">Home</a></li>
        {% if 'username' in session %}
            <li><a href="/users">Users</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a class="nav-right" href="/logout">Log out</a></li>
            <li><a class="nav-right" href="/user/{{ session['user_id'] }}">Profile</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login">Log in</a></li>
            <li><a class="nav-right" href="/registration">Sign in</a></li>
        {% endif %}
        </ul>
        </nav>
      <h1>Edit answer</h1>
        <form action="/answer/{{ answer_id }}/edit" method="post" enctype = "multipart/form-data">
            <label>Answer:<br><textarea name="new-message">{{ datas['message'] }}</textarea></label><br>
            <input type="file" name="new-file" accept="image/png, image/jpeg"><br>
            <input type="submit" value="Edit">
        </form>
    </div>
</body>
</html>