<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Edit comment</title>
</head>
<body>
    <div class="container">
        <nav>
        <ul id="nav">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        {% if 'username' in session %}
            <li><a class="nav-right" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
            <li><a class="nav-right" href="/registration"><i class="fas fa-user-plus"></i> Registration</a></li>
        {% endif %}
        </ul>
        </nav>
        <b>Edit comment</b><br><br>
        <form action="/comment/{{ comment['question_id'] }}/{{ comment['id'] }}/edit" method="POST">
            <label>Comment:<br><textarea name="new-message">{{ comment['message'] }}</textarea></label><br>
            <button type="submit">Edit</button>
        </form>
    </div>
</body>
</html>