<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Edit answer</title>
</head>
<body>
    <div class="container">
      <h1>Edit answer</h1>
        <form action="/answer/{{ answer_id }}/edit" method="post" enctype = "multipart/form-data">
            <label>Answer:<br><textarea name="new-message">{{ datas['message'] }}</textarea></label><br>
            <input type="file" name="new-file" accept="image/png, image/jpeg"><br>
            <input type="submit" value="Edit">
        </form>
    </div>
</body>
</html>