<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Edit Question</title>
</head>
<body>
    <div class="container">
         <nav>
        <ul id="nav">
        <li><a href="/">Home</a></li>
        {% if 'username' in session %}
            <li><a href="/users">Users</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a class="nav-right" href="/logout">Log out</a></li>
            <li><a class="nav-right" href="/user/{{ session['user_id'] }}">Profile</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login">Log in</a></li>
            <li><a class="nav-right" href="/registration">Registration</a></li>
        {% endif %}
        </ul>
        </nav>
        <b>Edit question</b><br><br>
        <form action="/question/{{ question["id"] }}/edit" method="POST" enctype = "multipart/form-data">
            <label for="title">Title</label><br>
            <textarea id="title" name="title" rows="1" cols="100">{{ question["title"] }}</textarea><br><br>
            <label for="message">Message</label><br>
            <textarea id="message" name="message" rows="10" cols="100">{{ question["message"] }}</textarea><br><br>
            <label for="file">Choose a picture to replace existing one</label><br>
            <input type="file" name="file" accept="image/png, image/jpeg"><br><br>
            <input type="submit" value="Save">
        </form>
    </div>
</body>
</html>