<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Edit comment</title>
</head>
<body>
    <div class="container">
        <h1>Edit comment</h1>
        <form action="/comment/{{ comment['question_id'] }}/{{ comment['id'] }}/edit" method="POST">
            <label>Comment:<br><textarea name="new-message">{{ comment['message'] }}</textarea></label><br>
            <button type="submit">Edit</button>
        </form>
    </div>
</body>
</html>