<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <style>
        small{
            display: block;
        }
        .answer_message{
            margin-left:20px;
        }
    </style>
</head>
<body>
<h1>Questions</h1>
<form action="/search" method="get">
    <input type="text" name="q"><input type="submit" value="Search">
</form>
<div>
<ul id="search"></ul>
    {% if word != '' %}
        <p>The searched phrase is: "{{ word }}"</p>
    {% endif %}
    {% for result in results %}
    <ul id="search-results">
    {%  if result['title'] %}
        <li>{{ result['title'].replace(word, word.upper()) }}</li>
        {% else %}
        <li>{{ result['title'] }}</li>
        {% endif %}
        <ul>
            <li><small>Views: {{ result['view_number'] }} | Votes: {{ result['vote_number'] }} | Time: {{ result['submission_time'] }}</small></li>
            {% if result['message'] %}
            <li>{{ result['message'].replace(word, word.upper()) }}</li>
            {% else %}
            <li>{{ result['message'] }}</li>
            {% endif %}
        {% if result['answer_message'] %}
            <li class="answer_message">{{ result['answer_message'].replace(word, word.upper()) }}</li>
        {% endif %}
        </ul>
    </ul>
    {% endfor %}
    {% for result in results_answers %}
        <ul>
            {%  if result['title'] %}
                <li>{{ result['title'].replace(word, word.upper()) }}</li>
            {% else %}
                <li>{{ result['title'] }}</li>
            {% endif %}
            <ul>
                <li><small>Views: {{ result['view_number'] }} | Votes: {{ result['vote_number'] }} | Time: {{ result['submission_time'] }}</small></li>
                {% if result['message'] %}
                    <li>{{ result['message'].replace(word, word.upper()) }}</li>
                {% else %}
                    <li>{{ result['message'] }}</li>
                {% endif %}
                {% if result['answer_message'] %}
                    <li class="answer_message">{{ result['answer_message'].replace(word, word.upper()) }}</li>
                {% endif %}
            </ul>
        </ul>
    {% endfor %}
</div>
<a href="/add-question">Ask a question</a>
<ul>
    {% for question in questions %}
        <li>
            <a href="/question/{{ question.get('id') }}">{{question.get('title')}}</a>
            <small>Number of Views: {{ question.get('view_number') }}</small>
            <small>Vote Number: {{ question.get('vote_number') }}</small>
            <small>Submission Time: {{ question["submission_time"] }}</small>
            <p>{{ question.get('message') }}</p>
            <p/>
            <form action="/question/{{ question.get('id') }}/vote-up" method="post">
            <button type="submit">Like!</button>
            </form>
            <form action="/question/{{ question.get('id') }}/vote-down" method="post">
            <button type="submit">Dislike!</button>
            </form>
            <p/>
        </li>
    {% endfor %}
</ul>
<a href="/list">Display More Questions</a>
<script>
    $( document ).ready(function() {
        alert("héé!")

        {% for result in results %}
            {%  if result['title'] %}
                alert("Yeee");
                var li = document.createElement("li");
                li.innerHTML = {{ result["title"] }};
                document.getElementById("search").appendChild(li);
            {% endif %}
            {%  if result['message'] %}
                var li = document.createElement()
                li.innerHTML = {{ result["message"] }}
                    document.getElementById("search").appendChild(li)
            {% endif %}
        {% endfor %}
    })
</script>
</body>
</html>