<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Questions</title>
</head>
<body>
    <div class="container">
        <nav>
        <ul id="nav">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        {% if 'username' in session %}
            <li><a href="/users"><i class="fas fa-users"></i> Users</a></li>
            <li><a href="/tags"><i class="fas fa-tags"></i> Tags</a></li>
            <li><a class="nav-right" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
            <li><a class="nav-right" href="/user/{{ session['user_id'] }}"><i class="fas fa-user-circle"></i> Profile</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
            <li><a class="nav-right" href="/registration"><i class="fas fa-user-plus"></i> Registration</a></li>
        {% endif %}
        </ul>
        </nav>
        <form action="/search" method="get">
            <input type="text" name="q"> <input class="button all-buttons" type="submit" value="Search">
        </form>
        <div>
            {% if word != '' %}
                <p>The searched phrase is: "{{ word }}"</p>
            {% endif %}
            {% for result in results %}
            <ul>
            {%  if result['title'] %}
                <li>{{ result['title'].replace(word, "<mark>" + word + "</mark>")|safe }}</li>
                {% else %}
                <li>{{ result['title'] }}</li>
                <ul>
                {% endif %}
                    <li><small>Views: {{ result['view_number'] }} | Votes: {{ result['vote_number'] }} | Time: {{ result['submission_time'] }}</small></li>
                    {% if result['message'] %}
                    <li>{{ result['message'].replace(word, "<mark>" + word + "</mark>")|safe }}</li>
                    {% else %}
                    <li>{{ result['message'] }}</li>
                    {% endif %}
                {% if result['answer_message'] %}
                    <li class="answer_message">{{ result['answer_message'].replace(word, "<mark>" + word + "</mark>")|safe }}</li>
                {% endif %}
                </ul>
            </ul>
            {% endfor %}
            {% for result in results_answers %}
                <ul>
                    {%  if result['title'] %}
                        <li>{{ result['title'].replace(word, "<mark>" + word + "</mark>")|safe }}</li>
                    {% else %}
                        <li>{{ result['title'] }}</li>
                    {% endif %}
                    <ul>
                        <li><small>Views: {{ result['view_number'] }} | Votes: {{ result['vote_number'] }} | Time: {{ result['submission_time'] }}</small></li>
                        {% if result['message'] %}
                            <li>{{ result['message'].replace(word, "<mark>" + word + "</mark>")|safe }}</li>
                        {% else %}
                            <li>{{ result['message'] }}</li>
                        {% endif %}
                        {% if result['answer_message'] %}
                            <li class="answer_message">{{ result['answer_message'].replace(word, "<mark>" + word + "</mark>")|safe }}</li>
                        {% endif %}
                    </ul>
                </ul>
            {% endfor %}
        </div>
        <br>
        <a class="add" href="/add-question">Ask a question</a><br><br>
        <table>
            {% for question in questions %}
                <tr>
                    <td>
                        <a href="/question/{{ question.get('id') }}"><strong>{{question.get('title')}}</strong></a></td>
                    <td>
                        <small>Number of Views: <strong>{{ question.get('view_number') }}</strong></small>
                        <small>Vote Number: <strong>{{ question.get('vote_number') }}</strong></small>
                        <small>Submission Time: <strong>{{ question["submission_time"] }}</strong></small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>{{ question.get('message') }}</p>
                        <form class="like-form" action="/question/{{ question.get('id') }}/vote-up" method="post">
                        <button class="all-buttons" id="like" type="submit">Like!</button>
                        </form>
                        <form class="like-form" action="/question/{{ question.get('id') }}/vote-down" method="post">
                        <button class="all-buttons" id="dislike" type="submit">Dislike!</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
        </table>
        <a href="/list">Display More Questions</a>
    </div>
</body>
</html>