<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Questions</title>
</head>
<body>
    <div class="container">
     <nav>
        <ul id="nav">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/tags"><i class="fas fa-tags"></i> Tags</a></li>
        {% if 'username' in session %}
            <li><a class="nav-right" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
            <li><a class="nav-right" href="/registration"><i class="fas fa-user-plus"></i> Registration</a></li>
        {% endif %}
        </ul>
        </nav>
        <form action="/list" method="get">
            <select name="order_by">
                <option value="title">Title</option>
                <option value="submission_time">Submission time</option>
                <option value="message">Message</option>
                <option value="view_number">Number of views</option>
                <option value="vote_number">Number of votes</option>
            </select>
            <select name="order_direction">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
             <input class="button all-buttons" type="submit" value="Sort">
        </form>
        <br>
        <a  class="add" href="/add-question">Ask a question</a><br><br>
        <table>
            {% for question in questions %}
                <tr>
                    <td>
                        <a href="/question/{{ question.get('id') }}"><strong>{{question.get('title')}}</strong></a></td>
                    <td>
                        <small>Number of Views: <strong>{{ question.get('view_number') }}</strong></small>
                        <small>Vote Number: <strong>{{ question.get('vote_number') }}</strong></small>
                        <small>Submission Time: <strong>{{ question["submission_time"] }}</strong></small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>{{ question.get('message') }}</p>
                        <form class="like-form" action="/question/{{ question.get('id') }}/vote-up" method="post">
                        <button class="all-buttons" id="like" type="submit">Like!</button>
                        </form>
                        <form class="like-form" action="/question/{{ question.get('id') }}/vote-down" method="post">
                        <button class="all-buttons" id="dislike" type="submit">Dislike!</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
</body>
</html>