<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>New answer comment</title>
</head>
<body>
    <div class="container">
         <nav>
        <ul id="nav">
        <li><a href="/">Home</a></li>
        {% if 'username' in session %}
            <li><a href="/users">Users</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a class="nav-right" href="/logout">Log out</a></li>
            <li><a class="nav-right" href="/user/{{ session['user_id'] }}">Profile</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login">Log in</a></li>
            <li><a class="nav-right" href="/registration">Sign in</a></li>
        {% endif %}
        </ul>
        </nav>
        <h1>Write answer comment</h1>
        <form action="/question/{{ question_id }}/answer/{{ answer_id }}/new_comment" method="post">
            <label>Comment:<br><textarea name="new_comment"></textarea></label><br>
            <input type="submit" value="Send">
        </form>
    </div>
</body>
</html>