<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Tags</title>
</head>
<body>
    <div class="container">
     <nav>
        <ul id="nav">
        <li><a href="/">Home</a></li>
        {% if 'username' in session %}
            <li><a href="/users">Users</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a class="nav-right" href="/logout">Log out</a></li>
            <li><a class="nav-right" href="/user/{{ session['user_id'] }}">Profile</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login">Log in</a></li>
            <li><a class="nav-right" href="/registration">Registration</a></li>
        {% endif %}
        </ul>
        </nav>
        <b>Select tags and/or define a new one</b><br><br>
        <form action="/question/{{ question_id }}/new-tag" method="post">
            {% for all_tag in all_tags %}
            {% if all_tag in tags %}
            <input type="checkbox" id="{{ all_tag["name"] }}" name="{{ all_tag["id"] }}" value="{{ all_tag["name"] }}" checked="checked">
            {% else %}
                <input type="checkbox" id="{{ all_tag["name"] }}" name="{{ all_tag["id"] }}" value="{{ all_tag["name"] }}">
            {% endif %}
                <label for="{{ all_tag["name"] }}">{{ all_tag["name"] }}</label><br>
            {% endfor %}
            <br><label for="new_tag">New Tag:</label><br><br>
            <input type="text" id="new_tag" name="new-tag">
            <input type="submit" value="SEND">
        </form>
    </div>
</body>
</html>