<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
    <style>
        li {
            list-style-type: none;
        }
        .delete {
            text-decoration: none;
            color: brown;
        }
    </style>
</head>
<body>
    <a href="/list">Go back to questions</a>
    <p><b>Question: {{ question['title'] }}</b></p>
    <p>{{ question['message'] }}</p>
    {% if question["image"] != none %}
        <img src="/static/images/{{ question['image'] }}" alt="{{ question['image'] }}"><br>
    {% endif %}
    <a class="delete" href="/question/{{ question['id'] }}/delete">DELETE question</a><br><br>
    <a href="/question/{{ question["id"] }}/edit">EDIT question</a>
    <ul><br>
    {% for answer in answers %}
        <strong>Answer {{ loop.index }}: </strong>
            {% if answer["image"] != none %}
        <li><img src="/static/images/{{ answer["image"] }}" alt="{{ answer["image"] }}"></li>
            {% endif %}
        <li><em>{{ answer['message'] }}</em> |
            <a class="delete" href="/answer/{{ answer['id'] }}/delete">DELETE answer</a></li><br>
        <form action="/answer/{{ answer.get('id') }}/vote-up" method="post">
            <button type="submit">Like!</button>
        </form>
        <form action="/answer/{{ answer.get('id') }}/vote-down" method="post">
            <button type="submit">Dislike!</button>
        </form>
    {% endfor %}
    </ul>
    <a href="/question/{{ question['id'] }}/new-answer">Write new answer</a>
</body>
</html>