<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Registration</title>
</head>
<body>
    <div class="container">
     <nav>
        <ul id="nav">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        {% if 'username' in session %}
            <li><a class="nav-right" href="/logout">Log out</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
        {% endif %}
        </ul>
        </nav>
        <b>Registration</b><br/><br/>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
        <form action="/registration" method="POST">
            <label>E-mail address:<br/><input type="text" name="email_address"></label><br/><br>
            <label>Password:<br/><input type="password" name="password"></label><br/><br>
            <button type="submit" value="Register">Register </button>
        </form>
    </div>
</body>
</html>