<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Registration</title>
</head>
<body>
    <div class="container">
     <nav>
        <ul id="nav">
        <li><a href="/">Home</a></li>
        {% if 'username' in session %}
            <li><a href="/users">Users</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a class="nav-right" href="/logout">Log out</a></li>
            <li><a class="nav-right" href="/user/{{ session['user_id'] }}">Profile</a></li>
            <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
        {% else %}
            <li><a class="nav-right" href="/login">Log in</a></li>
            <li><a class="nav-right" href="/registration">Sign in</a></li>
        {% endif %}
        </ul>
        </nav>
        <b>Log in</b><br><br>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
        <form action="/login" method="post">
            <label>Username (email):<br><input type="text" name="username"></label><br>
            <label>Password:<br><input type="password" name="password"></label><br>
            <input type="submit" value="Log in">
        </form>
    </div>
</body>
</html>