<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>User</title>
</head>
<body>
<div class="container">
    <nav>
        <ul id="nav">
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            {% if 'username' in session %}
                <li><a class="nav-right" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
                <li><span class="nav-right">Welcome {{ session['username'] }}!</span></li>
            {% else %}
                <li><a class="nav-right" href="/login"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
                <li><a class="nav-right" href="/registration"><i class="fas fa-user-plus"></i> Sign up</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if 'username' in session %}
<table id="users-table">
    <tr>
        <th>User Name</th>
        <th>Registration Date</th>
        <th>Count of Asked Questions</th>
        <th>Count of Answers</th>
        <th>Count of Comments</th>
        <th>Reputation</th>
    </tr>
    {% for user in users %}
    <tr>
        <td><a href="#">{{ user.username }}</a></td>
        <td>{{ user.registration_date }}</td>
        <td>{{ user.question_count }}</td>
        <td>{{ user.answer_count }}</td>
        <td>{{ user.comment_count }}</td>
        <td>{{ user.reputation }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>
</body>
</html>